@import url('https://fonts.googleapis.com/css2?family=Alice&family=Arbutus&family=Audiowide&family=Oregano:ital@0;1&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Alice";

}

body {
    /* background-image: url(./Source/Content.jpg); */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(20, 87, 167, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 25px;
}

#login-head {
    width: 94%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-items: auto;
    margin: 15px 30px;

}

#login-head>img {
    width: auto;
    height: 140px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 255, 0.5));
}

#login-head>h1 {
    height: 90px;
    margin-left: 10px;
    font-size: 35px;
    font-family: "Arbutus", cursive;
    font-weight: 300;
    font-style: normal;

}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.signUp-text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 100%;
    margin-right: 2.5px;
    background-color: #5995fd;
}

.textContent {
    width: 55%;
    height: 150px;
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}

.textContent>h4 {
    margin: 17px 50px;
    font-family: "Alice";
    word-spacing: 2px;
    font-size: 18px;
    color: white;
}


.textContent>button {
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    background-color: #f4f4f480;
    border: 2px solid green;
    margin-top: 20px;
    animation: flicker 1s infinite ease;
    font-size: 15px;
    font-family: "audiowide";
}

.textContent>span {
    animation: move 1s infinite ease-in-out;
    font-size: 30px;
}

@keyframes move {
    0% {
        transform: scale(0.7);

    }

    100% {
        transform: translateY(20px)
    }
}

@keyframes flicker {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);

    }

}

.textContent>button:hover {
    background-color: #5995fd90;
}

.form-signup,
.form-signin {
    margin-left: 2.5px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form>span input {
    flex-basis: 90%;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(204, 204, 204, 0.5);
}

.form>span input:focus {
    border: 2px solid #5995fd;
    outline: none;
}

.form i {
    position: relative;
    left: -20px;
    opacity: 0.5;
}

.form input::placeholder {
    justify-content: center;
    align-content: center;
    font-family: "Audiowide";
    padding-left: 20px;
}

.btnsubmit {

    padding: 10px;
    border-radius: 20px;
    width: 100px;
    background-color: rgba(244, 244, 244, 0.5);
    border: 2px solid rgb(101, 51, 162);
    margin: 30px 0px 0px 7px;
    font-size: 15px;
    font-family: "Audiowide";

}

.btnsubmit:hover {
    background-color: #5995fd90;

}

.signform {
    display: flex;
    position: relative;
    bottom: 100vh;
}

.form,
.signupform>h1 {
    /* margin-left: 2.5px; */
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 100%;
    margin-right: 2.5px;
    background-color: #5995fd;
}

#textContent {
    margin-left: 100px;
}